extends: default

rules:
  document-start:
    present: false
  line-length: disable
  comments-indentation: disable
  indentation: disable
  truthy:
    check-keys: false
  comments:
    require-starting-space: false
    min-spaces-from-content: 1
